force-app/main/default/flows/Contact_Validate_Product_Country_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <name>Error_No_Existing_Records</name>
        <label>Error No Existing Records</label>
        <locationX>308</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Incorrect values (Home Country / Product)</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_There_a_Configuration</name>
        <label>Is There a Configuration</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Error_No_Existing_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Config</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Config_Product_By_Country.Country_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Config_Product_By_Country.Product__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>It validates if the product and home country fields in the contact object are valid in the Customer Product Info Config</description>
    <environments>Default</environments>
    <interviewLabel>Contact Validate Product Country Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Validate Product Country Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the configuration associated to product and country in the metadata.</description>
        <name>Get_Config_Product_By_Country</name>
        <label>Get Config Product By Country</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Home_Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Product_Info_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Config_Product_By_Country</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
